@use '../../abstract/colors';
@use '../../abstract/fonts';

header {
    width: 100%;

    & p {
        color: colors.$font-color;
        background: colors.$lila;
        font-family: fonts.$Arima;
        font-size: 200%;
        padding: 1rem;
        text-align: center;
        box-shadow: 0px 2px 12px rgba(colors.$donker_lila , 2);
        width: 100%;
    }
}

